# ==============================
# Large folders
# ==============================
datasets/
experiments/
vis_output/

# ==============================
# Model weights / binaries
# ==============================
*.pth
*.pt
*.ckpt
*.onnx

# ==============================
# Python
# ==============================
__pycache__/
*.pyc

# ==============================
# VSCode
# ==============================
.vscode/

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db